.box-wrapper {
  display: grid;
  grid-template-columns: 10%;
  grid-template-rows: 10%;
  padding: 25px;
}

.box {
  height: 30px;
  width: 30px;
}

.border {
  border: solid 1px black;
}

.table {
  border-spacing: 0px;
}
